.dropdown-transition {
  display: none;
  opacity: 0;
}
.dropdown-transition-enter {
  display: block;
  transform: scaleY(0.5);
  opacity: 0;
}
.dropdown-transition-enter-active {
  display: block;
  transform: scaleY(1);
  opacity: 1;
}
.dropdown-transition-enter-done {
  display: block;
  transform: scaleY(1);
  opacity: 1;
}
.dropdown-transition-exit {
  display: block;
  transform: scaleY(1);
  opacity: 1;
}
.dropdown-transition-exit-active {
  display: block;
  transform: scaleY(0.5);
  opacity: 0;
}
.dropdown-transition-exit-done {
  display: none;
}
