.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .container {
    gap: 3rem;
  }
  .title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 4rem;
  }
  .btn-buy {
    font-size: 1.8rem;
  }
}
