.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
}

@media(min-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
}

@media(min-width: 1024px) {
  .header {
    gap: 3rem;
  }
  .title {
    font-size: 3.2rem;
    color: var(--white);
  }

  .text {
    color: var(--grey-ee)
  }
}

@media(min-width: 1920px) {
  .title {
    font-size: 4rem;
  }
}
