.card {
  border-radius: 5px;
  border: 1px solid var(--grey-ed);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}
.image-wrapper {
  position: relative;
}

.image-wrapper::after {
  content: '';
  display: block;
  padding-top: 56.3%;
  z-index: -10;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}
.price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--orange);
}

.options {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.colors {
  display: flex;
  gap: 1rem;
}

.color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--black);
  z-index: 100;
}

.image__skeleton {
  position: absolute;
  width: 100%;
  height: 100%;
}
.skeleton__info {
  display: flex;
  flex-direction: column;
}

.skeleton__title {
  height: 1.5rem;
  width: 6rem;
  border-radius: 10px;
}

.skeleton__price {
  display: inline-block;
  height: 1rem;
  width: 4rem;
  border-radius: 10px;
}

.skeleton__option {
  width: 9rem;
  border-radius: 10px;
}

@media (min-width: 380px) {
  .info {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 1.4rem;
  }
  .price {
    font-size: 1.2rem;
  }
  .options {
    font-size: 1.2rem;
  }
  .skeleton__title {
    height: 1.6rem;
  }
  .skeleton__price,
  .skeleton__option {
    height: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .card:hover {
    background-color: var(--hover-ultra-light);
  }
}

@media (min-width: 1400px) {
  .info {
    gap: 1rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .price {
    font-size: 1.4rem;
  }
  .options {
    font-size: 1.4rem;
  }
  .color {
    width: 18px;
    height: 18px;
  }

  .skeleton__title {
    height: 2rem;
  }
  .skeleton__price,
  .skeleton__option {
    height: 1.4rem;
  }
}
