.btn {
  position: relative;
  height: 12px;
  width: 24px;
}
.line {
  position: absolute;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: var(--grey-c6);
  transform: translateX(-50%);
  transition:
    transform 0.4s,
    opacity 0.4s;
}

.line:first-child {
  top: 0;
}

.line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.line:last-child {
  bottom: 0;
}

@media (min-width: 1024px) {
  .btn {
    display: none;
  }
}
