.wrapper {
  display: flex;
}
.image-block {
  display: none;
}

.image {
  height: auto;
  object-fit: contain;
}

.content-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
}

.image-second {
  order: -1;
}

@media (min-width: 1024px) {
  .image-block {
    display: flex;
    width: 50%;
  }
  .content-block {
    width: 50%;
    justify-content: center;
    gap: 2rem;
    padding: 16px 48px;
  }
  .title {
    font-size: 2.4rem;
  }
}

@media (min-width: 1920px) {
  font-size: 3.2rem;
}
