.flex-gap {
  gap: 2rem;
}

.flex-gap-title {
  gap: 2rem;
}

.section__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.volume {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);;
}

.base-text {
  font-family: var(--raleway), var(--fonts);
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--text)
}

@media(min-width: 768px) {
  .flex-gap-title {
    gap: 3rem;
  }
}

@media(min-width: 1024px) {
  .flex-gap {
    gap: 3rem;
  }
  .flex-gap-title {
    gap: 4rem;
  }
  .section__title {
    font-size: 3.2rem;
  }
}

@media(min-width: 1920px) {
  .flex-gap{
    gap: 4rem;
  }
  .flex-gap-title {
    gap: 6rem;
  }
  .section__title {
    font-size: 4rem;
  }
  .base-text {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}
