p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--montserrat), var(--fonts);
  font-size: 14px;
  font-weight: 300;
}

:root {
  --fonts: sans-serif;

  --grey-c6: #c6c6c6;
  --grey-db: #dbdbdb;
  --hover-light: #a3f6f6;
  --hover: #0cc;
}
