.article {
  display: flex;
  flex-direction: column;
}

.first-block {
  display: flex;
  position: relative;
  line-height: 0;
  min-height: 250px;
}

.image-desktop-only {
  display: none;
}

.second-block {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}

.preTitle {
  font-family: var(--raleway), var(--fonts);
  font-size: 1.4rem;
  color: var(--text);
}

.title {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: var(--black);
}

.image {
  height: auto;
  object-fit: cover;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 1px solid var(--text);
  font-family: var(--raleway), var(--fonts);
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--black);
}

.contact {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 480px) {
  .buttons {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .article {
    min-height: 40vw;
  }

  .small {
    min-height: 25vw;
  }

  .first-block {
    padding: 4rem 0;
    width: 50%;
  }
  .second-block {
    align-items: flex-start;
    width: 50%;
    justify-content: center;
    padding: 2rem;
  }

  .small .second-block {
    width: 100%;
  }

  .article {
    flex-direction: row;
  }

  .imageSecond {
    order: -1;
  }
}

@media (min-width: 1024px) {
  .image-desktop-only {
    display: flex;
  }

  .first-block {
    padding: 0;
  }

  .second-block {
    row-gap: 2rem;
    padding: 2rem 4.5rem;
  }

  .small .second-block {
    width: 50%;
  }

  .btn:hover {
    box-shadow: 0 0 5px 1px #00d7c3;
    border: 1px solid var(--hover);
  }

  .preTitle {
    font-size: 1.8rem;
  }

  .title {
    font-size: 2.4rem;
    line-height: 1.7em;
  }
}

@media (min-width: 1920px) {
  .second-block {
    padding: 2.4rem 8rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .btn {
    padding: 1.5rem 6rem;
    font-size: 1.8rem;
  }
}
