.nav {
  display: flex;
  align-items: center;
  width: 24px;
}

.list {
  display: none;
}

@media (min-width: 1024px) {
  .nav {
    width: auto;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
  }
  .link {
    position: relative;
    color: #333;
    font-size: 1.6rem;
    line-height: 24px;
  }

  .btn {
    display: none;
  }
}

@media (min-width: 1920px) {
  .list {
    column-gap: 3rem;
  }
  .link {
    font-size: 1.8rem;
  }
}
