.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}
.view {
  position: relative;
  order: -1;
}

.image {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.view {
  min-height: 0;
  min-width: 0;
}
@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 8rem;
    padding-top: 75px;
  }
  .view {
    order: 1;
    width: 50%;
  }
  .content {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    min-height: 87vh;
    max-height: 100vh;
    padding-top: 0;
  }
}
