.article {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 2rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--black);
}

.image--wrapper {
  order: -1;
}

.image {
  height: auto;
}

@media (min-width: 1024px) {
  .article {
    padding-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  .content--half {
    width: 50%;
  }
  .image--wrapper {
    order: 10;
    width: 40%;
  }
}

@media (min-width: 1920px) {
  .article {
    padding-top: 50px;
  }
  .title {
    font-size: 3.2rem;
    padding-bottom: 3.2rem;
  }
}
