.button {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.first-block {
  background-color: var(--grey-ed);
  line-height: 0;
}

.second-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  padding: 2.5rem 4rem 2.5rem 2.5rem;
}

.image {
  height: auto;
}

.bg-image {
  height: 50vw;
  object-fit: cover;
}

.title {
  font-family: var(--raleway);
  font-size: 1.8rem;
  font-weight: 500;
}

.card__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

@media (min-width: 768px) {
  .article:hover {
    background-color: var(--hover-ultra-light);
  }

  .article:hover .first-block {
    background-color: var(--hover-semi-light);
  }
  .bg-image {
    height: 25vw;
  }
}

@media (min-width: 1024px) {
  .second-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 5rem;
  }

  .card__link {
    width: 32px;
    height: 32px;
  }

  .card__link path {
    fill: var(--grey-c6);
  }

  article:hover .card__link path {
    fill: currentColor;
  }
}

@media (min-width: 1920px) {
  .second-block {
    padding: 3.5rem 6rem 3.5rem 2.6rem;
  }
  .title {
    font-size: 2.4rem;
  }

  .card__link {
    width: 45px;
    height: 45px;
  }
}
