.article {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}


.first-block {
  background-color: var(--grey-ed);
  line-height: 0;
}

.second-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.6rem;
}

.image {
  height: auto;
}

.title {
  font-family: var(--raleway);
  font-size: 1.8rem;
  font-weight: 500;
}

.text {
  color: var(--text);
  font-family: var(--raleway);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.card__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

@media(min-width: 768px) {
  .article:hover {
    background-color: var(--hover-ultra-light);
  }

  .article:hover .first-block {
    background-color: var(--hover-semi-light);
  }
}


@media(min-width: 1024px) {

  .card__link {
    width: 32px;
    height: 32px;
  }

  .card__link path {
    fill: var(--grey-c6)
  }

  article:hover .card__link path {
    fill: currentColor;
  }
}

@media(min-width: 1920px) {
  .second-block {
    padding: 3.5rem 2.6rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .text {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .card__link {
    width: 45px;
    height: 45px;
  }
}
