.wrapper {
  overflow: hidden;
  transition: var(--transition);
}

.header {
  position: relative;
  cursor: pointer;
}

.header::after {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 15px;
  top: 50%;
  border-left: 2px solid var(--grey-c6);
  border-bottom: 2px solid var(--grey-c6);
  transform-origin: 3px;
  transform: rotate(-45deg) translateY(-50%);
  content: '';
}

.header--opened::after {
  transform: rotate(135deg);
}
