.article {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
}

.image-wrapper {
  position: relative;
}

.image-wrapper div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image {
  height: auto;
  transition: all 0.3s linear;
  object-fit: cover;
}

.show {
  z-index: 10;
  display: block;
}

.content {
  display: contents;
  flex-direction: column;
}

.title {
  order: -1;
}

.tab__items {
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
  padding-left: 1rem;
  cursor: pointer;
  opacity: 0.4;
}

.item::before {
  position: absolute;
  content: '';
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--hover);
  opacity: 0;
}

.active::before {
  opacity: 1;
}

.item__title {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .article {
    flex-direction: row;
  }
  .content {
    display: flex;
    gap: 1.5rem;
  }
  .image-wrapper {
    min-width: 60%;
  }
  .tab__items {
    gap: 1rem;
  }
  .item {
    padding-left: 2rem;
  }
  .item::before {
    width: 2px;
  }
  .item__text {
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 1.8rem;
  }
  .item__text {
    line-height: 2.5rem;
  }
  .tab__items {
    gap: 3rem;
  }
}

@media (min-width: 1440px) {
  .article {
    gap: 15rem;
  }
  .content {
    gap: 3rem;
  }
  .title {
    font-size: 2.4rem;
  }
  .tab__items {
    gap: 4rem;
  }
  .item {
    padding-left: 2.5rem;
  }
  .item__title {
    font-size: 1.8rem;
  }
  .item__text {
    line-height: 3rem;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 3rem;
  }
  .item__title {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
