.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 50px;
}

.image {
  width: 100%;
  object-fit: contain;
  height: auto;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    padding-top: 75px;
  }
  .image-wrapper {
    width: 50%;
  }
  .content {
    order: -1;
    width: 50%;
    padding-right: 50px;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    min-height: 90vh;
    max-height: 100vh;
  }
}
