.item {
  overflow: hidden;
  border: 1px solid var(--grey-ed);
  border-radius: 5px;
  transition: height var(--transition);
}

.item:has(.item__btn:hover) {
  border: 1px solid var(--hover);
}

.item__btn {
  padding: 12px 20px;
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 12px 20px;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

.elements--opened {
  transform: scaleY(1);
  opacity: 1;
}

.element__item {
  position: relative;
}

.element__item::after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--hover);
  transform-origin: right;
  opacity: 0;
  transform: scaleX(0);
}

.element__item:hover {
  color: black;
}

.element__item--selected:after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}
