.wrapper {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--grey-ee);
  background-color: var(--white);
  z-index: 100;
}

.separator {
  margin: 0 7px;
}

.nav {
  display: none;
}

.left {
  display: flex;
}
.current {
  font-weight: 500;
}
.link--selected {
  display: block;
  color: black;
  transform: scale(1.1);
}

.link--selected::after {
  transform: scale(1);
}

@media (min-width: 1024px) {
  .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav {
    display: block;
  }
  .menu {
    display: flex;
    gap: 25px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    font-size: 1.4rem;
  }
  .menu {
    gap: 40px;
  }
}
