.header {
  padding: 24px 0;
  border-bottom: var(--grey-db) solid 1px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 35px;
  }
  .buttons {
    margin-right: 0;
  }
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1920px) {
  .header {
    padding: 32px 0;
  }
  .container {
    padding: 0 60px;
  }
}

