.title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.list {
  display: flex;
  gap: 2rem;
}

.value {
  position: relative;
  color: var(--black);
  transition: color 0s;
}

.value--active {
  color: var(--hover);
}
